.header {
  /* font-family: var(--mantine-font-family-headings); */
  font-size: var(--mantine-font-size-md);
  height: rem(60px);
  padding-left: var(--mantine-spacing-md);
  padding-right: var(--mantine-spacing-md);
}

.link {
  display: flex;
  align-items: center;
  height: 80%;
  border-radius: var(--mantine-radius-sm);
  padding-left: var(--mantine-spacing-md);
  padding-right: var(--mantine-spacing-md);
  text-decoration: none;
  color: light-dark(var(--mantine-color-black), var(--mantine-color-white));

  @mixin hover {
    background-color: light-dark(
      var(--mantine-color-teal-2),
      var(--mantine-color-teal-2)
    );
  }
}
